body {
	
	
background-color: #e6ffff;
color: red;
margin: 0px;
font-size: 15x;
padding: 20px 20px 20px 20px;
line-height: 20px;


}

h1 {

font-weight: bold;
text-decoration: underline;
font-size: 200%;
text-align: center;

} 

form {
	
}

table, th, td {
	height:20px;
}

